a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0
}

*,
*:after,
*:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    color: #000;
}

html {
    box-sizing: border-box;
    font-size: 1px !important;
}

body {
    font: normal 14rem/21rem Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
    background-color: #E5EEF5;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: white;
    padding-bottom: 10px;
}


.contact__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 391px;
    width: 100%;
    /* padding: 23px; */
    /* padding-left: 20px; */
    align-items: center;
}

.icons{
    padding-right: 10px;
}

.contact{
    display: flex;
    padding-left: 10px;
    padding-top: 20px;
    flex-direction: column;
}
.logo img {
    width: 95px;
}

.telefon a {
    text-decoration: none;
    font-size: 33px;
    color: black;
    line-height: 10px;
}
.callback a {
    font-size: 20px;
    color: black;
}

.menu{
    background-color: #000000b5;
}
.menu__links {
    /*background-color: #000000b5;*/
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

.menu__links a {
    color: white;
    font-size: 15px;
    font-weight: bold;
    line-height: 55px;
}

#part__one {
    max-height: 800px;
    height: 100vh;
}
#part__one .bg__image{
    background-image: url(files/header.jpg);
    /*-webkit-filter: blur(3px);*/
    /*filter: blur(3px);*/
    /*-webkit-filter: grayscale(.45);*/
    /*filter: grayscale(.45);*/
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}

#part__one .title {
    color:white;
    font-size: 100px;
}

#part__one .name {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    max-height: 253px;
}
.title{
    font-size: 20px;
}

